button{
    width: 100%;
    min-width: 100px;
    padding: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 3px;
}

button:hover{
    background-color: blue;
    cursor: pointer;
}

button:active{
    background-color: #ccc;
    transform: scale(0.95);
    width: 100%;
    color: black;
    border: none;
    border-radius: 3px;    
    padding: 5px;
}