.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: large;
}

.input > input{
    height: 1.5rem;
    padding: 0 5px;
    border-radius: 2px;
    border: none;
}