
table{
    width: 50vw;
    border-collapse: collapse;
    font-size: large;
}

table th, table td{
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: 100;
}

table th:first-child, table td:first-child{
    width: 30%;
}

table th:last-child, table td:last-child{
    width: 70%;
}

table th{
    background-color: #221717;
}

table tr:nth-child(even){
    background-color: #3f3e3e;
}

h2{
    font-weight: 100;
    text-decoration: underline;
}

p{
    font-weight: 100;
}